<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/custom_demineur.css">
        <title>Document</title>
    </head>

    <body>
        <p>Customiser un plateau de jeu</p>
        <p id="nb_mine">Nombre de mine: </p>
        <select name="taille" id="taille" onchange="custom_demineur(this.value)">
            <option value="">--Taille du champ de mine--</option>
            <option value=5>5x5</option>
            <option value=10>10x10</option>
            <option value=15>15x15</option>
        </select>
        <div id="game-container"></div>
    <button onclick="publier()">Publier</button>
    <script src="../static/js/custom_demineur.js"></script>
    </body>
</html>