<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/custom_demineur.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="favicon" rel="icon" type="image/x-icon" href="/static/icondem.ico">
    <title>Document</title>
</head>
<body>
    <div id="sup">
        <button class="hamburger">
          <div class="bar"></div>
        </button>
        <div class="navbar">
          <ul>
            <li><a href="../profile_page">Profile</a></li>
            <li><a href="../leaderboard">Leaderboard</a></li>
            <li><a href="../custom_create">Custom</a></li>
          </ul>
        </div>
      </div>
    <div class="floater">
      <p>Customiser un plateau de jeu</p>
      <label for="range_t">Selectionner une taille: </label>
      <p id="nb_mine">Nombre de mine: </p>
      <input id='range_t' type="range" min="5" max="15" value="10">
      <p id="demo"></p>
      <div id="game-container"></div>
      <br>
      <form action="/custom_create/done" method="post" onsubmit="sauvegarde()">
          <button type="submit">Sauvegarder</button>
      </form>
      <br>
    </div>
    <br><br>
    <button id="jouer" onclick="location.href='/custom_create/play'">Jouer à des custom démineur</button>
    <script src="../static/js/custom.js"></script>
</body>
</html>
