<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/custom_demineur.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Customiser un plateau de jeu</p>
    <label for="range_t">Selectionner une taille: </label>
    <p id="nb_mine">Nombre de mine: </p>
    <input id='range_t' type="range" min="4" max="15" value="5">
    <p id="demo"></p>
    <div id="game-container"></div>
    <script src="../static/js/custom.js"></script>
    <br>
    <button>Sauvegarder</button>
</body>
</html>
