<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jeu Démineur</title>
  <link rel="stylesheet" href="/static/css/style_demineur.css">
</head>
<body>

  <div id="sup">
    <button class="hamburger">
      <div class="bar"></div>
    </button>
    <div class="navbar">
      <ul>
        <li><a href="../profile_page">Profile</a></li>
        <li><a href="../leaderboard">Leaderboard</a></li>
        <li><a href="../custom_create">Custom</a></li>
      </ul>
    </div>
  </div>
  <h1>Jeu Démineur</h1>
  <h2> {{ inscrit }}</h2>
  <a href="/demineur/facile">Facile</a>
  <a href="/demineur/moyen">Moyen</a>
  <a href="/demineur/difficile">Difficile</a>
  <div class="box">
    <p id="timer">0:00.00</p>
    <div id="game-container"></div> <!--Initiation du jeu-->
  </div>
  <script src="../static/js/demineur.js"></script>
  <a href="/logout">Logout</a>


</body>
</html>
