<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jeu Démineur</title>
  <link rel="stylesheet" href="/static/css/style_demineur.css">
</head>
<body>
  <h1>Jeu Démineur</h1>
  <a href="/demineur/facile">Facile</a>
  <a href="/demineur/moyen">Moyen</a>
  <a href="/demineur/difficile">Difficile</a>
  <button onclick="callPythonFunction()">ça execute une fonction python</button>

  <p hidden id="test">{{plateau}}</p> <!--Pour récuper le tableau dans Java Script-->

  <div id="game-container"></div> <!--Initiation du jeu-->
  <script src="../static/js/script.js"></script>
  <a href="/logout">Logout</a>


</body>
</html>
