<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style_demineur.css">
    <title>{{ title }}</title>
</head>
<body>
    <script src="../static/js/leaderboard.js"></script>
    
    <div id="sup">
        <button class="hamburger">
          <div class="bar"></div>
        </button>
        <div class="navbar">
          <ul>
            <li><a href="../profile_page">Profile</a></li>
            <li><a href="../leaderboard">Leaderboard</a></li>
            <li><a href="../custom_create">Custom</a></li>
          </ul>
        </div>
      </div>
    <h1>{{ title }}</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Player</th>
                <th>Time</th>
                <th>Date</th>
                <th>Mode</th>
            </tr>
        </thead>
        <tbody>
            {% for index, entry in enumerate(score, start=1) %}
            <tr>
                <td>{{ index }}</td>
                <td>{{ entry[0] }}</td> <!-- user_pseudo -->
                <td>{{ entry[1] }}</td> <!-- time_jeu -->
                <td>{{ entry[2] }}</td> <!-- date_jeu -->
                <td>{{ entry[3] }}</td> <!-- difficulte_jeu -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <table border="1">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Player</th>
                <th>Wins</th>
            </tr>
        </thead>
        <tbody>
            {% for index, entry in enumerate(wins, start=1) %}
            <tr>
                <td>{{ index }}</td>
                <td>{{ entry[0] }}</td> <!-- user_pseudo -->
                <td>{{ entry[1] }}</td> <!-- time_jeu -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
