<!doctype html>
<html>
    <head>
        <title>{{ title }} - Ma page</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <script src="../static/js/script.js"></script>
    </head>
    <body>
        <div class="floater">
            <h1>Demineur</h1>
            <h2>Se connecter ou <button id="inscrire" onclick="location.href = '/inscription'">s'inscrire</button></h2>
            <form action='/soumettre' method="post" onsubmit="return validateForm()">
                <input type="text" id="user" name="username" placeholder="pseudo" required></input>
                <br><br>
                <input type="text" id="pass" name="password" placeholder="mot de passe" required></input>
                <br><br>
                <button id="confirmer" type="submit">Confirmer</button>
            </form>
        </div>
        <script src="../static/js/script.js"></script>
    </body>
</html>
