<!doctype html>
<html>
    <head>
        <title>{{ title }} - Ma page</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <script src="../static/js/script.js"></script>
        <link id="favicon" rel="icon" type="image/x-icon" href="/static/icondem.ico">
    </head>
    <body>
        <div class="floater">
            <br>
            <h1>Demineur</h1>
            <h2>Se connecter ou <button id="inscrire" onclick="location.href = '/inscription'">s'inscrire</button></h2>
            <form action='/soumettre_login' method="post" onsubmit="return validateForm()">
                <input type="text" id="user" name="username" placeholder="Pseudo" required></input>
                <br><br>
                <input type="password" id="pass" name="password" placeholder="Mot de passe" required></input>
                <br><br>
                <button id="confirmer" type="submit">Confirmer</button>
                <br><br>
                <p style="color:rgb(196, 21, 21);font-size: large;">{{ Valide }}</p>
            </form>
            <blockquote style="font-weight: 800;font-size: x-large; letter-spacing: 0.1em;"> - Le Démineur (Minesweeper) est un jeu vidéo de réflexion dont le but est de localiser des mines cachées dans une grille représentant un champ de mines virtuel, avec pour seule indication le nombre de mines dans les zones adjacentes </blockquote>
            <button id='scompte' style="height:3em;
            width:7em;
            border-radius: 1em;
            background: white;
            font-size: medium;
            font: 1em sans-serif;transition: 300ms;" onclick="location.href = '/demineur'">Jouer sans compte</button>
            <br>
            <br>
        </div>
        <script src="../static/js/script.js"></script>
    </body>
</html>
