<!doctype html>
<html>
    <head>
        <title>Data</title>
        <link rel="stylesheet" href="/static/css/style_profile.css">
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/series-label.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    </head>
    <body>
        <h2>Bonjour, {{ username }}</h2>
        <p>Jeux gagnés: {{ games }}</p>
        <p>Votre meilleur temps: {{ time }}</p>
        <button id="demineurButton" onload="drawDemineurBoard()" onclick="location.href = '/demineur'">
            <span class="buttonText">Démineur</span>
            <br><br>
            <canvas id="demineurCanvas" width="60" height="60"></canvas>
        </button>
            
        <button id="leaderboardButton" onload="leaderboard()" onclick="location.href = '/leaderboard'">
            <span class="buttonText">Leaderboard</span>
            <br><br>
            <canvas id="leaderboardCanvas" width="100" height="60"></canvas>
        </button>

        <button id="customButton" onload="drawCustomBoard()" onclick="location.href = '/custom_create'">
            <span class="buttonText">Custom Board</span>
            <br><br>
            <canvas id="customCanvas" width="60" height="60"></canvas>
        </button>
        <script src="../static/js/profile.js"></script>
        <br><br>
        
        <figure class="highcharts-figure">
            <div id="container"></div>
            <script src="../static/js/graphe.js"></script>
        </figure>


        <a href="/logout">Se déconnecter</a>
    </body>
</html>